name: Test
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Download Tools
        run: |
          wget -O - https://raw.githubusercontent.com/sifferman/hdl-tool-installer/main/install | bash -s -- . --oss-cad-suite --zachjs-sv2v
          echo "$GITHUB_WORKSPACE/oss-cad-suite/bin" >> $GITHUB_PATH
          echo "$GITHUB_WORKSPACE/zachjs-sv2v" >> $GITHUB_PATH
      - run: make sim TOP=calculator_tb
      - run: make gls TOP=calculator_tb
      - run: make sim TOP=alu_add_tb
      - run: make gls TOP=alu_add_tb
      - run: make sim TOP=screen_driver_tb
      - run: make gls TOP=screen_driver_tb
      - run: make synth/build/nexys_4_ddr.edif
